.container {
	display:flex;
}
.grid {
	width: 12.5em;
	height: 25em;
	display: flex;
	flex-wrap: wrap;
	background-color: #df7366;
}


.grid div {
	height: 1.25em;
	width: 1.25em;
}



.tetromino {
	background-color:blue;
}


.mini-grid {
	width: 80px;
	height: 80px;
	display: flex;
	flex-wrap: wrap;
	background-color: #df7366;
	margin-left: 50px;

}


.mini-grid div {
	height:1.25em;
	width:1.25em;
}


